<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Ghi log ra file, tạo file theo từng giờ -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/log_${shortdate}_${hour}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"
				archiveNumbering="Sequence"
				maxArchiveFiles="24"
				archiveEvery="Hour"
				encoding="utf-8" />
	</targets>
	<rules>
		<!-- Ghi tất cả các mức log -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>